*,
body,
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#gameView {
  border: 2vw solid rgb(168, 168, 168);
  border-width: 2vh 2vw;
  border-radius: 15px;
  overflow: hidden;
}

canvas {
  background: radial-gradient(#ccc 4px, #eee 5px) !important;
  background-size: 50px 50px !important;
}

#tests {
  display: flex;
  flex-direction: row;
  max-height: 30vh;
  margin: 50px 0;
  border: 3px solid gray;
  background-color: #eee;
  border-radius: 5px;
}

#testlogs {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin: 20px 0;
  max-height: 100%;
}

#testlogs > p {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

#testbox {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 3px solid gray;
  border-radius: 10px;
  margin: 20px;
  background-color: lime;
}
